h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.time {
    text-align: center;
}

.button {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
    border-radius: 1px;
    
  }

  #qAndA {
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
  }

  li {
    list-style-type: circle;
    text-align: left;
  }